# 1. Variable selection

In [10]:
import duckdb
import os
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

from variables import Variables as vars

plt.style.use('../../notebook.mplstyle')

os.makedirs("./output", exist_ok=True)

In [11]:
# con.close()
con = duckdb.connect("./data/us_births.db", read_only=True)

In [16]:
df = con.execute(
    f"""
    SELECT
        b.year,
        COUNT(*) as count_obs,
        COUNT(b.dob_mm) as count_dob_mm,
        COUNT(b.dob_wk) as count_dob_wk,
        COUNT(b.dob_tt) as count_dob_tt,
        COUNT(b.sex) as count_sex,
        COUNT(b.dbwt) as count_dbwt,
        COUNT(b.dwgt_r) as count_dwgt_r,
        COUNT(b.dplural) as count_dplural,
        COUNT(b.setorder_r) as count_setorder_r,
        COUNT(b.bfacil3) as count_bfacil3,
        COUNT(b.precare) as count_precare,
        COUNT(b.gestrec10) as count_gestrec10,
        COUNT(b.apgar5) as count_apgar5,
        COUNT(b.apgar5r) as count_apgar5r,
        COUNT(b.apgar10) as count_apgar10,
        COUNT(b.apgar10r) as count_apgar10r,
        COUNT(b.ab_aven1) as count_ab_aven1,
        COUNT(b.ab_aven6) as count_ab_aven6,
        COUNT(b.ab_nicu) as count_ab_nicu,
        COUNT(b.ab_surf) as count_ab_surf,
        COUNT(b.ab_anti) as count_ab_anti,
        COUNT(b.ab_seiz) as count_ab_seiz,
        COUNT(b.no_abnorm) as count_no_abnorm,
        COUNT(b.ca_anen) as count_ca_anen,
        COUNT(b.ca_mnsb) as count_ca_mnsb,
        COUNT(b.ca_cchd) as count_ca_cchd,
        COUNT(b.ca_cdh) as count_ca_cdh,
        COUNT(b.ca_omph) as count_ca_omph,
        COUNT(b.ca_gast) as count_ca_gast,
        COUNT(b.ca_limb) as count_ca_limb,
        COUNT(b.ca_cleft) as count_ca_cleft,
        COUNT(b.ca_clpal) as count_ca_clpal,
        COUNT(b.ca_disor) as count_ca_disor,
        COUNT(b.ca_hypo) as count_ca_hypo,
        COUNT(b.downs) as count_downs,
        COUNT(b.uca_downs) as count_uca_downs,
        COUNT(b.ca_down) as count_ca_down,
        COUNT(b.ca_downs) as count_ca_downs,
        COUNT(b.ca_down_c) as count_ca_down_c,
        COUNT(b.down_ind) as count_down_ind,
        COUNT(b.no_congen) as count_no_congen,
        COUNT(b.m_ht_in) as count_m_ht_in,
        COUNT(b.bmi) as count_bmi,
        COUNT(b.bmi_r) as count_bmi_r,
        COUNT(b.pwgt_r) as count_pwgt_r,
        COUNT(b.wtgain) as count_wtgain,
        COUNT(b.restatus) as count_restatus,
        COUNT(b.mager) as count_mager,
        COUNT(b.dmage) as count_dmage,
        COUNT(b.mager14) as count_mager14,
        COUNT(b.mager9) as count_mager9,
        COUNT(b.mage36) as count_mage36,
        COUNT(b.mrace31) as count_mrace31,
        COUNT(b.mrace6) as count_mrace6,
        COUNT(b.mbstate_rec) as count_mbstate_rec,
        COUNT(b.mrace15) as count_mrace15,
        COUNT(b.mhisp_r) as count_mhisp_r,
        COUNT(b.mracehisp) as count_mracehisp,
        COUNT(b.mar) as count_mar,
        COUNT(b.dmar) as count_dmar,
        COUNT(b.mar_p) as count_mar_p,
        COUNT(b.dmeduc) as count_dmeduc,
        COUNT(b.meduc) as count_meduc,
        COUNT(b.umeduc) as count_umeduc,
        COUNT(b.meduc6) as count_meduc6,
        COUNT(b.meduc_rec) as count_meduc_rec,
        COUNT(b.dfage) as count_dfage,
        COUNT(b.dfagerpt) as count_dfagerpt,
        COUNT(b.fage11) as count_fage11,
        COUNT(b.fagerpt) as count_fagerpt,
        COUNT(b.fagecomb) as count_fagecomb,
        COUNT(b.fagerec11) as count_fagerec11,
        COUNT(b.frace) as count_frace,
        COUNT(b.fraceimp) as count_fraceimp,
        COUNT(b.fracerec) as count_fracerec,
        COUNT(b.frace31) as count_frace31,
        COUNT(b.frace6) as count_frace6,
        COUNT(b.frace15) as count_frace15,
        COUNT(b.fhispx) as count_fhispx,
        COUNT(b.fhisp_r) as count_fhisp_r,
        COUNT(b.fracehisp) as count_fracehisp,
        COUNT(b.feduc) as count_feduc,
        COUNT(b.bfed) as count_bfed,
        COUNT(b.previs) as count_previs,
        COUNT(b.previs_rec) as count_previs_rec,
        COUNT(b.priorlive) as count_priorlive,
        COUNT(b.priordead) as count_priordead,
        COUNT(b.priorterm) as count_priorterm,
        COUNT(b.lbo_rec) as count_lbo_rec,
        COUNT(b.tbo_rec) as count_tbo_rec,
        COUNT(b.illb_r11) as count_illb_r11,
        COUNT(b.ilop_r11) as count_ilop_r11,
        COUNT(b.ilp_r11) as count_ilp_r11,
        COUNT(b.pay_rec) as count_pay_rec,
        COUNT(b.wic) as count_wic,
        COUNT(b.rf_pdiab) as count_rf_pdiab,
        COUNT(b.rf_gdiab) as count_rf_gdiab,
        COUNT(b.rf_phype) as count_rf_phype,
        COUNT(b.rf_ghype) as count_rf_ghype,
        COUNT(b.rf_ehype) as count_rf_ehype,
        COUNT(b.rf_ppterm) as count_rf_ppterm,
        COUNT(b.rf_inftr) as count_rf_inftr,
        COUNT(b.rf_fedrg) as count_rf_fedrg,
        COUNT(b.rf_artec) as count_rf_artec,
        COUNT(b.rf_cesar) as count_rf_cesar,
        COUNT(b.rf_cesarn) as count_rf_cesarn,
        COUNT(b.no_risks) as count_no_risks,
        COUNT(b.ld_indl) as count_ld_indl,
        COUNT(b.ld_augm) as count_ld_augm,
        COUNT(b.ld_anes) as count_ld_anes,
        COUNT(b.me_pres) as count_me_pres,
        COUNT(b.rdmeth_rec) as count_rdmeth_rec,
        COUNT(b.dmeth_rec) as count_dmeth_rec,
        COUNT(b.attend) as count_attend,
        COUNT(b.mrace_c) as count_mrace_c,
        COUNT(b.mhisp_c) as count_mhisp_c,
        COUNT(b.mracehisp_c) as count_mracehisp_c,
    FROM us_births as b
    WHERE b.year >= 2004
    GROUP BY b.year
    ORDER BY b.year
    """
).df()
df.to_csv("./output/us_births_variables.csv", index=False)
df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,year,count_obs,count_dob_mm,count_dob_wk,count_dob_tt,count_sex,count_dbwt,count_dwgt_r,count_dplural,count_setorder_r,...,count_ld_indl,count_ld_augm,count_ld_anes,count_me_pres,count_rdmeth_rec,count_dmeth_rec,count_attend,count_mrace_c,count_mhisp_c,count_mracehisp_c
0,2004,4118907,4118907,4118907,0,4118907,29743,0,4118821,0,...,758833,758833,758833,758833,0,4118907,4118907,4118907,4118907,4086258
1,2005,4145614,4145614,4145614,0,4145614,30500,0,4145546,0,...,0,0,0,0,1275018,0,4145614,4145614,4145614,4115728
2,2006,4273225,4273225,4273225,0,4273225,30830,0,4273158,0,...,2080152,2080152,2080152,2080152,2080152,4273225,4273225,4273225,4273225,4242758
3,2007,4324008,4324008,4324008,0,4324008,31452,0,4323917,0,...,2388236,2388236,2388236,2388236,2388236,4324008,4324008,4324008,4324008,4292988
4,2008,4255156,4255156,4255156,0,4255156,29924,0,4255110,0,...,2761379,2761379,2761379,2761379,2761379,4255156,4255156,4255156,4255156,4222293
5,2009,4137836,4137836,4137836,230226,4137836,29058,2816719,4137756,2816719,...,2816719,2816719,2816719,2816719,2816719,4137836,4137836,4137836,4137836,4108016
6,2010,4007105,4007105,4007105,254042,4007105,28021,3101037,4007068,3101037,...,3101037,3101037,3101037,3101037,3101037,4007105,4007105,4007105,4007105,3979481
7,2011,3961220,3961220,3961220,278797,3961220,27268,3398489,3961178,3398489,...,3398489,3398489,3398489,3398489,3398489,3961220,3961220,3961220,3961220,3933929
8,2012,3960796,3960796,3960796,290920,3960796,27410,3495710,3960751,3495710,...,3495710,3495710,3495710,3495710,3495710,3960796,3960796,3960796,3960796,3929904
9,2013,3940764,3940764,3940764,297609,3940764,26841,3559101,3940698,3559101,...,3564417,3564417,3564417,3564417,3564417,3940764,3940764,3940764,3940764,3913139
10,2014,3998175,3998175,3998175,330945,3998175,26690,3855275,3998128,3855275,...,3855275,3855275,3855275,3855275,3855275,3998175,3998175,3998175,3998175,3967498
11,2015,3988733,3988733,3988733,341556,3988733,26583,3919668,3988709,3919668,...,3919668,3919668,3919668,3919668,3919668,3988733,3988733,3988733,3988733,3956123
12,2016,3956112,3956112,3956112,347641,3956112,26071,3956112,3956081,3956112,...,3956112,3956112,3956112,3956112,3956112,3956112,3956112,3956112,3956112,3919646
13,2017,3864754,3864754,3864754,340676,3864754,25484,3864754,3864705,3864754,...,3864754,3864754,3864754,3864754,3864754,3864754,3864754,3864754,3864754,3832081
14,2018,3801507,3801507,3801507,337903,3801507,24307,3801507,3801497,3801507,...,3801507,3801507,3801507,3801507,3801507,3801507,3801507,3801507,3801507,3767469
15,2019,3757555,3757555,3757555,335937,3757555,24072,3757555,3757519,3757555,...,3757555,3757555,3757555,3757555,3757555,3757555,3757555,3757555,3757555,3721445
16,2020,3619826,3619826,3619826,322233,3619826,22622,3619826,3619826,3619826,...,3619826,3619826,3619826,3619826,3619826,3619826,3619826,3518297,3619826,3501343
17,2021,3669928,3669928,3669928,334060,3669928,23161,3669928,3669928,3669928,...,3669928,3669928,3669928,3669928,3669928,3669928,3669928,3565759,3669928,3546272
18,2022,3676029,3676029,3676029,338342,3676029,23005,3676029,3676029,3676029,...,3676029,3676029,3676029,3676029,3676029,3676029,3676029,3570432,3676029,3552368
19,2023,3605081,3605081,3605081,334012,3605081,22646,3605081,3605081,3605081,...,3605081,3605081,3605081,3605081,3605081,3605081,3605081,3498866,3605081,3482830
20,2024,3638436,3638436,3638436,339485,3638436,22394,3638436,3638436,3638436,...,3638436,3638436,3638436,3638436,3638436,3638436,3638436,3528786,3638436,3510997

In [ ]:
df = con.execute(
    f"""
    SELECT DISTINCT mrace31
    FROM us_births
    WHERE year >= 1989
    ORDER BY mrace31;
    """
).df()
df

In [ ]:
df = con.execute(
    f"""
    SELECT
        b.mrace31,
        COUNT(*) as count_obs
    FROM us_births as b
    WHERE b.year >= 1989
    GROUP BY b.mrace31
    ORDER BY b.mrace31
    """
).df()
df

In [ ]:
con.close()