In [19]:
import duckdb, joblib, optuna, os, shap
import lightgbm as lgb
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
from lightgbm import early_stopping, log_evaluation
from scipy.spatial.distance import squareform
from scipy.cluster import hierarchy
from sklearn.inspection import permutation_importance
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    brier_score_loss,
    log_loss,
)
from sklearn.model_selection import train_test_split

import repl_utils, stats_utils, data_utils, ml_utils, plot_utils
from variables import Variables as vars

pd.options.mode.copy_on_write = True

plt.style.use("../../notebook.mplstyle")

os.makedirs("./output", exist_ok=True)

RANDOM_SEED = repl_utils.RANDOM_SEED
np.random.seed(RANDOM_SEED)
rng = np.random.default_rng(RANDOM_SEED)

N_CORES = joblib.cpu_count(only_physical_cores=True)

START_TIME = datetime.now()

OUTPUT_DIR = f"output/0002-predictors/{START_TIME:%Y%m%d-%H%M%S}"

os.makedirs(OUTPUT_DIR, exist_ok=True)

repl_utils.print_environment_info()

print(f"\n--------------------\nOutput directory: {OUTPUT_DIR}\n--------------------\n")

-------------------- Environment Information --------------------
date: 2025-12-24T10:15:36.186016
platform: Windows-11-10.0.26220-SP0
platform_version: 10.0.26220
cpu: Intel64 Family 6 Model 183 Stepping 1, GenuineIntel
cores: 32
physical_cores: 24
ram: 127 GB
ram_available: 85 GB
cuda: True
cuda_device_count: 1
cuda_device_0: NVIDIA GeForce RTX 4070 Ti SUPER
python: 3.13.11 | packaged by conda-forge | (main, Dec  6 2025, 11:10:00) [MSC v.1944 64 bit (AMD64)]
numpy: 2.3.5
pandas: 2.3.3
scipy: 1.16.3
sklearn: 1.8.0
pytorch: 2.9.1
pymc: 5.27.0
pytensor: 2.36.1
arviz: 0.23.0

--------------------
Output directory: output/0002-predictors/20251224-101536
--------------------

In [20]:
con = duckdb.connect("./data/us_births.db")

In [24]:
df = con.execute(
    """
    SELECT
        b.year,
        SUM(down_ind) as recorded,
        SUM(b.p_ds_lb_pred_01) as predicted
    FROM us_births b
    GROUP BY b.year
    ORDER BY b.year;
    """
).df()
df

    year  recorded    predicted
0   1989    1954.0          NaN
1   1990    1983.0          NaN
2   1991    1791.0          NaN
3   1992    1816.0          NaN
4   1993    1763.0          NaN
5   1994    1706.0          NaN
6   1995    1640.0          NaN
7   1996    1677.0          NaN
8   1997    1663.0          NaN
9   1998    1682.0          NaN
10  1999    1758.0          NaN
11  2000    1863.0          NaN
12  2001    1803.0          NaN
13  2002    1850.0          NaN
14  2003    1881.0          NaN
15  2004    1948.0          NaN
16  2005    2007.0  1923.803925
17  2006    2095.0  1936.961313
18  2007    2047.0  1953.200590
19  2008    2014.0  1955.882062
20  2009    1997.0  1791.360576
21  2010    1927.0  1792.455967
22  2011    1879.0  1777.799937
23  2012    1928.0  1823.728971
24  2013    1992.0  1845.264094
25  2014    1982.0  1981.495157
26  2015    2060.0  2011.052565
27  2016    2168.0  2136.437485
28  2017    2044.0  2046.509375
29  2018    2108.0  2101.518710
30  2019    2030.0  1989.623154
31  2020    1954.0  1915.819896
32  2021    1903.0  1904.660867
33  2022    1861.0  1851.679426
34  2023    1855.0  1884.739031
35  2024    1886.0  1897.274003
36  <NA>       NaN          NaN

In [23]:
df

In [18]:
con.close()