# Notes - prevalence estimates based on maternal age

In [1]:
import duckdb
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from graphviz import Digraph
from sympy.physics.units import magnetic_density

from variables import Variables as vars

plt.style.use('../../notebook.mplstyle')

os.makedirs("./output", exist_ok=True)

In [18]:
#con.close()
con = duckdb.connect("./data/us_births.db")

In [3]:
year_summary_df = con.execute(
    """
    SELECT
        year, COUNT (*) AS all, COUNT(mage_c) as mage_c, COUNT(umagerpt) as umagerpt, COUNT(mager) as mager, COUNT(dmage) as dmage, COUNT(dmagerpt) as dmagerpt, COUNT (mage_impflg) as mage_impflg, COUNT(mage_repflg) as mage_repflg, COUNT(mager41) as mager41, COUNT(mager9) as mager9
    FROM
        us_births
    WHERE
        year >= 1989
    GROUP BY year
    ORDER BY year
    """
).df()
year_summary_df

,year,all,mage_c,umagerpt,mager,dmage,dmagerpt,mage_impflg,mage_repflg,mager41,mager9
0,1989,4045693,4045693,0,0,4045693,4045693,0,0,0,0
1,1990,4162917,4162917,0,0,4162917,4162917,0,0,0,0
2,1991,4115342,4115342,0,0,4115342,4115342,0,0,0,0
3,1992,4069428,4069428,0,0,4069428,4069428,0,0,0,0
4,1993,4004523,4004523,0,0,4004523,4004523,0,0,0,0
5,1994,3956925,3956925,0,0,3956925,3956925,0,0,0,0
6,1995,3903012,3903012,0,0,3903012,3903012,0,0,0,0
7,1996,3894874,3894874,0,0,3894874,3894874,0,0,0,0
8,1997,3884329,3884329,0,0,3884329,3884329,0,0,0,0
9,1998,3945192,3945192,0,0,3945192,3945192,0,0,0,0
10,1999,3963465,3963465,0,0,3963465,3963465,0,0,0,0
11,2000,4063823,4063823,0,0,4063823,4063823,0,0,0,0
12,2001,4031531,4031531,0,0,4031531,4031531,0,0,0,0
13,2002,4027376,4027376,0,0,4027376,4027376,0,0,0,0
14,2003,4096092,4096092,3870127,0,0,0,201615,200989,4096092,4096092
15,2004,4118907,4118907,0,4118907,0,0,152981,152332,0,4118907
16,2005,4145614,4145614,0,4145614,0,0,156545,155993,0,4145614
17,2006,4273225,4273225,0,4273225,0,0,146163,145597,0,4273225
18,2007,4324008,4324008,0,4324008,0,0,450,148041,0,4324008
19,2008,4255156,4255156,0,4255156,0,0,456,144191,0,4255156
20,2009,4137836,4137836,0,4137836,0,0,415,118954,0,4137836
21,2010,4007105,4007105,0,4007105,0,0,380,101211,0,4007105
22,2011,3961220,3961220,0,3961220,0,0,394,101090,0,3961220
23,2012,3960796,3960796,0,3960796,0,0,436,31944,0,3960796
24,2013,3940764,3940764,0,3940764,0,0,375,157,0,3940764
25,2014,3998175,3998175,0,3998175,0,0,434,110,0,3998175
26,2015,3988733,3988733,0,3988733,0,0,483,124,0,3988733
27,2016,3956112,3956112,0,3956112,0,0,405,167,0,3956112
28,2017,3864754,3864754,0,3864754,0,0,490,67,0,3864754
29,2018,3801507,3801507,0,3801507,0,0,474,57,0,3801507
30,2019,3757555,3757555,0,3757555,0,0,548,348,0,3757555
31,2020,3619826,3619826,0,3619826,0,0,521,249,0,3619826
32,2021,3669928,3669928,0,3669928,0,0,491,221,0,3669928
33,2022,3676029,3676029,0,3676029,0,0,518,90,0,3676029
34,2023,3605081,3605081,0,3605081,0,0,602,63,0,3605081
35,2024,3638436,3638436,0,3638436,0,0,703,83,0,3638436