# Notes

In [9]:
import duckdb
import pandas as pd
from fields import Fields

In [10]:
con = duckdb.connect(database="./data/us_births.db", read_only=True)

In [11]:
con.execute(
    """
    SELECT dob_yy, ca_down, count(*) as counts
    FROM us_births
    group by  dob_yy, ca_down
    order by dob_yy, ca_down
    """
).df()

    dob_yy ca_down   counts
0        0       Y       54
1        0    None        5
2     2004       C      148
3     2004       P      335
4     2004       U     7260
5     2004    None  4111164
6     2005       C      220
7     2005       P      494
8     2005       U     8592
9     2005    None  4136308
10    2006       C      327
11    2006       P      702
12    2006       U     9634
13    2006    None  4262562
14    2007       C      324
15    2007       P      800
16    2007       U    20941
17    2007    None  4301943
18    2008    None  4255156
19    2009    None  4137836
20    2010    None  4007105
21    2011       C      565
22    2011       P     1087
23    2011       U    28410
24    2011    None  3931158
25    2012    None  3960796
26    2013    None  3940764
27    2014    None  3998175
28    2015    None  3988733
29    2016    None  3956112
30    2017    None  3864754
31    2018       C      921
32    2018       P     1187
33    2018       U     6107
34    2018    None  3793292
35    2019       C      923
36    2019       P     1107
37    2019       U     5468
38    2019    None  3750057
39    2020       C      894
40    2020       P     1060
41    2020       U     5165
42    2020    None  3612707
43    2021       C      857
44    2021       P     1046
45    2021       U     7548
46    2021    None  3660477
47    2022       C      818
48    2022       P     1043
49    2022       U     7501
50    2022    None  3666667
51    2023       C      867
52    2023       P      988
53    2023       U     8333
54    2023    None  3594893
55    2024       C      864
56    2024       P     1022
57    2024       U     9637
58    2024    None  3626913

In [25]:
df_2012 = pd.read_parquet("./data/us_births_2012.parquet")

In [26]:
# counts of each value of df_2012["uca_downs"]
df_2012["ca_downs"].value_counts().sort_index()

ca_downs
C        665
N    3479415
P       1072
U      14558
Name: count, dtype: int64