# A notebook for experiments

### Load data

In [19]:
import duckdb
import pandas as pd

In [27]:
needed = ["DOB_YY", "MAGER", "F_CA_DOWN", "CA_DOWN"]

df = pd.read_parquet(
    "data/us_births_all.parquet",
    columns=needed,
    engine="pyarrow",
    dtype_backend="pyarrow",
)

In [28]:
df.describe()

            DOB_YY       MAGER   F_CA_DOWN
count   41576190.0  41576190.0  41576190.0
mean   2018.885874   29.070407    0.990688
std       3.171249    5.835657    0.096048
min         2014.0        12.0         0.0
25%         2016.0        25.0         1.0
50%         2019.0        29.0         1.0
75%         2022.0        33.0         1.0
max         2024.0        50.0         1.0

In [31]:

# group by CA_DOWN and F_CA_DOWN
ds = df[df["F_CA_DOWN"] == 1]
ds.describe()

            DOB_YY       MAGER   F_CA_DOWN
count   41189035.0  41189035.0  41189035.0
mean   2018.917148   29.061475         1.0
std       3.160259    5.835683         0.0
min         2014.0        12.0         1.0
25%         2016.0        25.0         1.0
50%         2019.0        29.0         1.0
75%         2022.0        33.0         1.0
max         2024.0        50.0         1.0

In [ ]:
ds_df = ds.unstack(fill_value=0)
ds_df

CA_DOWN counts by year:

CA_DOWN    C        N     P      U
DOB_YY
2014     726  3842067  1118  11364
2015     846  3911953  1159   5710
2016     939  3947116  1229   6828
2017     901  3857773  1143   4937
2018     921  3793319  1187   6107
2019     923  3750084  1107   5468
2020     894  3612707  1060   5165
2021     857  3660477  1046   7548
2022     818  3666667  1043   7501
2023     867  3594893   988   8333
2024     864  3626913  1022   9637